---
# vars file for jaredhocutt.homelab.karakeep

###############################################################################
# Envrionment
###############################################################################

karakeep_container_env_base:
  MEILI_ADDR: http://{{ karakeep_name }}-meilisearch:7700
  BROWSER_WEB_URL: http://{{ karakeep_name }}-chrome:9222
  DATA_DIR: /data
  NEXTAUTH_URL: "{{ karakeep_nextauth_url }}"

karakeep_chrome_container_env_base: {}

karakeep_meilisearch_container_env_base:
  MEILI_NO_ANALYTICS: "true"

karakeep_container_env_combined: >-
  {{ common_container_env_base
  | combine(karakeep_container_env_base, recursive=True)
  | combine(karakeep_container_env, recursive=True) }}
karakeep_chrome_container_env_combined: >-
  {{ common_container_env_base
  | combine(karakeep_chrome_container_env_base, recursive=True)
  | combine(karakeep_chrome_container_env, recursive=True) }}
karakeep_meilisearch_container_env_combined: >-
  {{ common_container_env_base
  | combine(karakeep_meilisearch_container_env_base, recursive=True)
  | combine(karakeep_meilisearch_container_env, recursive=True) }}

###############################################################################
# Secrets
###############################################################################

karakeep_secrets_base:
  karakeep_nextauth_secret: "{{ karakeep_nextauth_secret }}"
  karakeep_meilisearch_master_key: "{{ karakeep_meilisearch_master_key }}"

karakeep_secrets_combined: >-
  {{ karakeep_secrets_base
  | combine(karakeep_secrets, recursive=True) }}

karakeep_container_secrets_base:
  - karakeep_meilisearch_master_key,type=env,target=MEILI_MASTER_KEY
  - karakeep_nextauth_secret,type=env,target=NEXTAUTH_SECRET

karakeep_chrome_container_secrets_base: []

karakeep_meilisearch_container_secrets_base:
  - karakeep_meilisearch_master_key,type=env,target=MEILI_MASTER_KEY
  - karakeep_nextauth_secret,type=env,target=NEXTAUTH_SECRET

karakeep_container_secrets_combined: >-
  {{ karakeep_container_secrets_base
  + karakeep_container_secrets }}
karakeep_chrome_container_secrets_combined: >-
  {{ karakeep_chrome_container_secrets_base
  + karakeep_chrome_container_secrets }}
karakeep_meilisearch_container_secrets_combined: >-
  {{ karakeep_meilisearch_container_secrets_base
  + karakeep_meilisearch_container_secrets }}

###############################################################################
# Container Labels
###############################################################################

# This is done as a list and converted to a dict in order to use variables in the key name
karakeep_container_labels_traefik:
  - key: traefik.enable
    value: "true"
  - key: traefik.docker.network
    value: "{{ common_traefik_network }}"
  - key: traefik.http.routers.{{ karakeep_name }}.rule
    value: Host(`{{ karakeep_traefik_host }}`)
  - key: traefik.http.routers.{{ karakeep_name }}.entrypoints
    value: "{{ common_traefik_entrypoint }}"
  - key: traefik.http.services.{{ karakeep_name }}.loadbalancer.server.port
    value: "3000"
karakeep_container_labels_base: "{{ karakeep_traefik_enable | ternary((karakeep_container_labels_traefik | items2dict), {}) }}"

karakeep_chrome_container_labels_base: {}

karakeep_meilisearch_container_labels_base: {}

karakeep_container_labels_combined: >-
  {{ karakeep_container_labels_base
  | combine(karakeep_container_labels, recursive=True) }}
karakeep_chrome_container_labels_combined: >-
  {{ karakeep_chrome_container_labels_base
  | combine(karakeep_chrome_container_labels, recursive=True) }}
karakeep_meilisearch_container_labels_combined: >-
  {{ karakeep_meilisearch_container_labels_base
  | combine(karakeep_meilisearch_container_labels, recursive=True) }}

###############################################################################
# Quadlet Options
###############################################################################

karakeep_quadlet_options_base_custom:
  - |
    [Unit]
    Requires={{ karakeep_name }}-chrome.service
    Requires={{ karakeep_name }}-meilisearch.service
    After={{ karakeep_name }}-chrome.service
    After={{ karakeep_name }}-meilisearch.service
karakeep_quadlet_options_base: "{{ common_quadlet_options_base + karakeep_quadlet_options_base_custom }}"

karakeep_chrome_quadlet_options_base: "{{ common_quadlet_options_base }}"

karakeep_meilisearch_quadlet_options_base: "{{ common_quadlet_options_base }}"

karakeep_quadlet_options_combined: >-
  {{ karakeep_quadlet_options_base
  + karakeep_quadlet_options }}
karakeep_chrome_quadlet_options_combined: >-
  {{ karakeep_chrome_quadlet_options_base
  + karakeep_chrome_quadlet_options }}
karakeep_meilisearch_quadlet_options_combined: >-
  {{ karakeep_meilisearch_quadlet_options_base
  + karakeep_meilisearch_quadlet_options }}
