---
# vars file for jaredhocutt.homelab.karakeep

###############################################################################
# Envrionment
###############################################################################

karakeep_container_env_defaults:
  MEILI_ADDR: http://{{ karakeep_name }}-meilisearch:7700
  BROWSER_WEB_URL: http://{{ karakeep_name }}-chrome:9222
  DATA_DIR: /data
  NEXTAUTH_URL: "{{ karakeep_nextauth_url }}"

karakeep_chrome_container_env_defaults: {}

karakeep_meilisearch_container_env_defaults:
  MEILI_NO_ANALYTICS: "true"

karakeep_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(karakeep_container_env_defaults, recursive=True)
  | combine(karakeep_container_env, recursive=True) }}
karakeep_chrome_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(karakeep_chrome_container_env_defaults, recursive=True)
  | combine(karakeep_chrome_container_env, recursive=True) }}
karakeep_meilisearch_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(karakeep_meilisearch_container_env_defaults, recursive=True)
  | combine(karakeep_meilisearch_container_env, recursive=True) }}

###############################################################################
# Secrets
###############################################################################

karakeep_secrets_defaults:
  karakeep_nextauth_secret: "{{ karakeep_nextauth_secret }}"
  karakeep_meilisearch_master_key: "{{ karakeep_meilisearch_master_key }}"

karakeep_secrets_combined: >-
  {{ karakeep_secrets_defaults
  | combine(karakeep_secrets, recursive=True) }}

karakeep_container_secrets_defaults:
  - karakeep_meilisearch_master_key,type=env,target=MEILI_MASTER_KEY
  - karakeep_nextauth_secret,type=env,target=NEXTAUTH_SECRET

karakeep_chrome_container_secrets_defaults: []

karakeep_meilisearch_container_secrets_defaults:
  - karakeep_meilisearch_master_key,type=env,target=MEILI_MASTER_KEY
  - karakeep_nextauth_secret,type=env,target=NEXTAUTH_SECRET

karakeep_container_secrets_combined: >-
  {{ karakeep_container_secrets_defaults
  + karakeep_container_secrets }}
karakeep_chrome_container_secrets_combined: >-
  {{ karakeep_chrome_container_secrets_defaults
  + karakeep_chrome_container_secrets }}
karakeep_meilisearch_container_secrets_combined: >-
  {{ karakeep_meilisearch_container_secrets_defaults
  + karakeep_meilisearch_container_secrets }}

###############################################################################
# Container Labels
###############################################################################

karakeep_container_labels_defaults: >
  {{ karakeep_traefik_enable
  | ternary(lookup('jaredhocutt.homelab.traefik_labels', karakeep_name, karakeep_traefik_host, '3000'), {}) }}

karakeep_chrome_container_labels_defaults: {}

karakeep_meilisearch_container_labels_defaults: {}

karakeep_container_labels_combined: >-
  {{ karakeep_container_labels_defaults
  | combine(karakeep_container_labels, recursive=True) }}
karakeep_chrome_container_labels_combined: >-
  {{ karakeep_chrome_container_labels_defaults
  | combine(karakeep_chrome_container_labels, recursive=True) }}
karakeep_meilisearch_container_labels_combined: >-
  {{ karakeep_meilisearch_container_labels_defaults
  | combine(karakeep_meilisearch_container_labels, recursive=True) }}

###############################################################################
# Quadlet Options
###############################################################################

karakeep_quadlet_options_depends:
  - |
    [Unit]
    Requires={{ karakeep_name }}-chrome.service
    Requires={{ karakeep_name }}-meilisearch.service
    After={{ karakeep_name }}-chrome.service
    After={{ karakeep_name }}-meilisearch.service
karakeep_quadlet_options_defaults: "{{ common_quadlet_options_defaults + karakeep_quadlet_options_depends }}"

karakeep_chrome_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

karakeep_meilisearch_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

karakeep_quadlet_options_combined: >-
  {{ karakeep_quadlet_options_defaults
  + karakeep_quadlet_options }}
karakeep_chrome_quadlet_options_combined: >-
  {{ karakeep_chrome_quadlet_options_defaults
  + karakeep_chrome_quadlet_options }}
karakeep_meilisearch_quadlet_options_combined: >-
  {{ karakeep_meilisearch_quadlet_options_defaults
  + karakeep_meilisearch_quadlet_options }}
