ansible-core==2.19.3 ; python_version == "3.12"
bitwarden-sdk==1.0.0 ; python_version == "3.12"
cffi==2.0.0 ; python_version == "3.12" and platform_python_implementation != "PyPy"
cryptography==46.0.3 ; python_version == "3.12"
dateutils==0.6.12 ; python_version == "3.12"
jinja2==3.1.6 ; python_version == "3.12"
jmespath==1.0.1 ; python_version == "3.12"
markupsafe==3.0.3 ; python_version == "3.12"
packaging==25.0 ; python_version == "3.12"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
pytz==2025.2 ; python_version == "3.12"
pyyaml==6.0.3 ; python_version == "3.12"
resolvelib==1.2.1 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
