---

common_traefik_domain: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.apps_common_traefik_domain) }}"

###############################################################################
# authentik
###############################################################################

authentik_image_tag: "2025.12.2"  # skopeo list-tags docker://ghcr.io/goauthentik/server | jq -r '.Tags[] | select(test("^[0-9]"))'
authentik_postgres_image_tag: "16.11"  # skopeo list-tags docker://docker.io/library/postgres | jq -r '.Tags[] | select(test("^16\\.[0-9]"))'

authentik_postgres_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.authentik_postgres_password) }}"
authentik_secret_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.authentik_secret_key) }}"

###############################################################################
# backrest
###############################################################################

backrest_version: v1.11.2

backrest_traefik_host: "backrest-apps.{{ common_traefik_domain }}"

backrest_container_env:
  BACKREST_PORT: 0.0.0.0:9898

###############################################################################
# bar_assistant
###############################################################################

bar_assistant_image_tag: "5.12.0"  # skopeo list-tags docker://docker.io/barassistant/server | jq -r '.Tags[] | select(test("^5\\.[0-9]"))'
bar_assistant_salt_rim_image_tag: "4.13.0"  # skopeo list-tags docker://docker.io/barassistant/salt-rim | jq -r '.Tags[] | select(test("^4\\.[0-9]"))'
bar_assistant_redis_image_tag: "8.4.0"  # skopeo list-tags docker://docker.io/library/redis | jq -r '.Tags[] | select(test("^[0-9]\\.[0-9\\.]*$"))'
bar_assistant_meilisearch_image_tag: v1.15.2  # skopeo list-tags docker://docker.io/getmeili/meilisearch | jq -r '.Tags[] | select(test("^v1.15"))'

bar_assistant_meilisearch_master_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.bar_assistant_meilisearch_master_key) }}"

###############################################################################
# bentopdf
###############################################################################

bentopdf_image_tag: v2.0.0  # skopeo list-tags docker://ghcr.io/alam00000/bentopdf | jq -r '.Tags[] | select(test("^v[0-9]"))'

###############################################################################
# calibre_web_automated
###############################################################################

calibre_web_automated_image_tag: v4.0.6  # skopeo list-tags docker://ghcr.io/crocodilestick/calibre-web-automated | jq -r '.Tags[] | select(test("^v[0-9]"))'

###############################################################################
# changedetection
###############################################################################

changedetection_image_tag: "0.52.9"  # skopeo list-tags docker://ghcr.io/dgtlmoon/changedetection.io | jq -r '.Tags[] | select(test("^[0-9]"))'
changedetection_browser_image_tag: "0.0.3"  # skopeo list-tags docker://docker.io/dgtlmoon/sockpuppetbrowser | jq -r '.Tags[] | select(test("^[0-9]"))'

###############################################################################
# healthchecks
###############################################################################

healthchecks_image_tag: version-v4.0  # skopeo list-tags docker://lscr.io/linuxserver/healthchecks | jq -r '.Tags[] | select(test("^version-v[0-9]"))'

healthchecks_email: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_email) }}"
healthchecks_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_password) }}"
healthchecks_secret_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_secret_key) }}"
healthchecks_env:
  DEFAULT_FROM_EMAIL: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_from_email) }}"
  EMAIL_HOST: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_email_host) }}"
  EMAIL_PORT: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_email_port) }}"
  EMAIL_HOST_USER: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_email_user) }}"
  EMAIL_USE_TLS: "True"
  REGISTRATION_OPEN: "False"

healthchecks_secrets:
  healthchecks_discord_client_id: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_discord_client_id) }}"
  healthchecks_discord_client_secret: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_discord_client_secret) }}"
  healthchecks_email_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_email_password) }}"
  healthchecks_pushover_api_token: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_pushover_api_token) }}"
  healthchecks_pushover_subscription_url: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.healthchecks_pushover_subscription_url) }}"
healthchecks_container_secrets:
  - healthchecks_discord_client_id,type=env,target=DISCORD_CLIENT_ID
  - healthchecks_discord_client_secret,type=env,target=DISCORD_CLIENT_SECRET
  - healthchecks_email_password,type=env,target=EMAIL_HOST_PASSWORD
  - healthchecks_pushover_api_token,type=env,target=PUSHOVER_API_TOKEN
  - healthchecks_pushover_subscription_url,type=env,target=PUSHOVER_SUBSCRIPTION_URL

###############################################################################
# homarr
###############################################################################

homarr_image_tag: v1.51.0  # skopeo list-tags docker://ghcr.io/homarr-labs/homarr | jq -r '.Tags[] | select(test("^v[0-9]"))'

homarr_api_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.homarr_api_key) }}"
homarr_secret_encryption_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.homarr_secret_encryption_key) }}"

###############################################################################
# karakeep
###############################################################################

karakeep_image_tag: "0.30.0"  # skopeo list-tags docker://ghcr.io/karakeep-app/karakeep | jq -r '.Tags[] | select(test("^[0-9\\.]+$"))'
karakeep_chrome_image_tag: "124"  # The project hard codes this tag, so let's keep it
karakeep_meilisearch_image_tag: v1.13.3  # The project hard codes this tag, so let's keep it

karakeep_nextauth_secret: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.karakeep_nextauth_secret) }}"
karakeep_meilisearch_master_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.karakeep_meilisearch_master_key) }}"


karakeep_secrets:
  karakeep_openai_api_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.karakeep_openai_api_key) }}"
karakeep_container_secrets:
  - karakeep_openai_api_key,type=env,target=OPENAI_API_KEY

###############################################################################
# n8n
###############################################################################

n8n_image_tag: "2.6.2"  # skopeo list-tags docker://docker.n8n.io/n8nio/n8n | jq -r '.Tags[] | select(test("^[0-9]\\."))'
n8n_postgres_image_tag: "16.11"  # skopeo list-tags docker://docker.io/library/postgres | jq -r '.Tags[] | select(test("^16\\.[0-9]"))'

n8n_postgres_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.n8n_postgres_password) }}"

n8n_env:
  N8N_LOG_LEVEL: debug

###############################################################################
# nocodb
###############################################################################

nocodb_image_tag: "0.301.2"  # skopeo list-tags docker://docker.io/nocodb/nocodb | jq -r '.Tags[] | select(test("^[0-9]"))'
nocodb_postgres_image_tag: "16.11"  # skopeo list-tags docker://docker.io/library/postgres | jq -r '.Tags[] | select(test("^16\\.[0-9]"))'

nocodb_postgres_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.nocodb_postgres_password) }}"

###############################################################################
# open_webui
###############################################################################

open_webui_image_tag: v0.7.2  # skopeo list-tags docker://ghcr.io/open-webui/open-webui | jq -r '.Tags[] | select(test("^v[0-9\\.]+$"))'

###############################################################################
# stirling_pdf
###############################################################################

stirling_pdf_image_tag: 2.4.2-fat  # skopeo list-tags docker://docker.stirlingpdf.com/stirlingtools/stirling-pdf | jq -r '.Tags[] | select(test("^[0-9\\.]+-fat$"))'

stirling_pdf_env:
  DOCKER_ENABLE_SECURITY: "false"

###############################################################################
# tandoor
###############################################################################

tandoor_image_tag: "2.4.1"  # skopeo list-tags docker://docker.io/vabene1111/recipes | jq -r '.Tags[] | select(test("^[0-9]\\."))'
tandoor_postgres_image_tag: "16.11"  # skopeo list-tags docker://docker.io/library/postgres | jq -r '.Tags[] | select(test("^16\\.[0-9]"))'

tandoor_postgres_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.tandoor_postgres_password) }}"
tandoor_secret_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.tandoor_secret_key) }}"

###############################################################################
# traefik
###############################################################################

traefik_image_tag: v3.6.7  # skopeo list-tags docker://docker.io/library/traefik | jq -r '.Tags[] | select(test("^v[0-9]"))'

traefik_traefik_host: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.traefik_traefik_host) }}"

traefik_command:
  - --certificatesresolvers.letsencrypt.acme.email={{ lookup('bitwarden.secrets.lookup', bws_uuid.traefik_letsencrypt_email) }}
  - --certificatesresolvers.letsencrypt.acme.storage=/certs/acme.json
  - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
  - --entrypoints.websecure.http.tls.certresolver=letsencrypt

traefik_secrets:
  traefik_letsencrypt_cloudflare_dns_api_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.traefik_letsencrypt_cloudflare_dns_api_key) }}"
  traefik_letsencrypt_cloudflare_zone_api_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.traefik_letsencrypt_cloudflare_zone_api_key) }}"
traefik_container_secrets:
  - traefik_letsencrypt_cloudflare_dns_api_key,type=env,target=CF_DNS_API_TOKEN
  - traefik_letsencrypt_cloudflare_zone_api_key,type=env,target=CF_ZONE_API_TOKEN

###############################################################################
# warracker
###############################################################################

warracker_image_tag: "1.0.2"  # skopeo list-tags docker://ghcr.io/sassanix/warracker/main | jq -r '.Tags[] | select(test("^[0-9]"))'
warracker_postgres_image_tag: "15.15"  # skopeo list-tags docker://docker.io/library/postgres | jq -r '.Tags[] | select(test("^15\\.[0-9]"))'

warracker_postgres_password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.warracker_postgres_password) }}"
warracker_secret_key: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.warracker_secret_key) }}"

###############################################################################
# kickstart
###############################################################################

kickstart_hostname: apps
kickstart_network:
  - device: enp1s0f0
    activate: true
  - device: enp1s0f1
    activate: true
    options: --nodefroute
  - device: eno1
    activate: false
  - device: wlp0s20f3
    activate: false

kickstart_storage_disks:
  - name: disk/by-id/nvme-Samsung_SSD_960_EVO_250GB_S3ESNX0J407135J
    partitions:
      - mountpoint: /boot/efi
        filesystem: efi
        size: 600
        options: --fsoptions="umask=0077,shortname=winnt"
      - mountpoint: /boot
        filesystem: xfs
        size: 1024
      - mountpoint: pv.01
        filesystem: lvmpv
        size: 1
        options: --grow
  - name: disk/by-id/nvme-Samsung_SSD_980_PRO_2TB_S76ENU0WC12575X
    partitions:
      - mountpoint: pv.02
        filesystem: lvmpv
        size: 1
        options: --grow
kickstart_storage_volume_groups:
  - name: fedora
    physical_volumes:
      - pv.01
    logical_volumes:
      - name: root
        mountpoint: /
        filesystem: xfs
        size: "{{ 1024 * 50 }}"  # 50 GB
      - name: home
        mountpoint: /home
        filesystem: xfs
        size: "{{ 1024 * 30 }}"  # 30 GB
      - name: swap
        mountpoint: swap
        filesystem: swap
        size: "{{ 1024 * 4 }}"  # 4 GB
  - name: data
    physical_volumes:
      - pv.02
    logical_volumes:
      - name: podman
        mountpoint: /var/lib/containers
        filesystem: xfs
        percent: 100

kickstart_users:
  - fullname: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_fullname) }}"
    username: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_username) }}"
    groups: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_groups) }}"
    uid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_uid) }}"
    gid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_gid) }}"
    password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_password_crypted) }}"
    authorized_keys:
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_1) }}"
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_2) }}"
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_3) }}"
  - fullname: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_fullname) }}"
    username: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_username) }}"
    groups: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_groups) }}"
    uid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_uid) }}"
    gid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_gid) }}"
    sudoers: |
      {{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_username) }} ALL=(ALL) NOPASSWD: ALL
      Defaults:{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_username) }} !requiretty
    authorized_keys:
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_4) }}"
