---

###############################################################################
# audiobookshelf
###############################################################################

audiobookshelf_image_tag: "2.29.0"

audiobookshelf_volume_media: "{{ global_volume_media }}"
audiobookshelf_volume_media_options: "{{ global_volume_media_options }}"

###############################################################################
# kometa
###############################################################################

kometa_image_tag: v2.2.2

###############################################################################
# overseerr
###############################################################################

overseerr_image_tag: "1.34.0"

overseerr_env_vars:
  LOG_LEVEL: debug

###############################################################################
# prowlarr
###############################################################################

prowlarr_image_tag: version-2.0.5.5160

###############################################################################
# radarr
###############################################################################

radarr_image_tag: version-5.27.5.10198

radarr_env_vars:
  PUID: "{{ global_media_uid }}"
  GUID: "{{ global_media_gid }}"

radarr_volume_download: "{{ global_volume_download }}"
radarr_volume_download_options: "{{ global_volume_download_options }}"
radarr_volume_media: "{{ global_volume_media }}"
radarr_volume_media_options: "{{ global_volume_media_options }}"

###############################################################################
# sabnzbd
###############################################################################

sabnzbd_image_tag: version-4.5.3

sabnzbd_env_vars:
  PUID: "{{ global_media_uid }}"
  GUID: "{{ global_media_gid }}"
  DOCKER_MODS: linuxserver/mods:universal-package-install
  INSTALL_PACKAGES: file

sabnzbd_volume_download: "{{ global_volume_download }}"

###############################################################################
# sonarr
###############################################################################

sonarr_image_tag: version-4.0.15.2941

sonarr_env_vars:
  PUID: "{{ global_media_uid }}"
  GUID: "{{ global_media_gid }}"

sonarr_volume_download: "{{ global_volume_download }}"
sonarr_volume_download_options: "{{ global_volume_download_options }}"
sonarr_volume_media: "{{ global_volume_media }}"
sonarr_volume_media_options: "{{ global_volume_media_options }}"

###############################################################################
# tautulli
###############################################################################

tautulli_image_tag: version-v2.16.0

tautulli_env_vars:
  DOCKER_ENABLE_SECURITY: "false"

###############################################################################
# traefik
###############################################################################

traefik_image_tag: v3.5.4

###############################################################################
# wizarr
###############################################################################

wizarr_image_tag: v2025.10.7

###############################################################################
# kickstart
###############################################################################

kickstart_hostname: media
kickstart_network:
  - device: enp2s0
    activate: true
  - device: wlp3s0
    activate: false

kickstart_storage_disks:
  - name: nvme0n1
    partitions:
      - mountpoint: /boot/efi
        filesystem: efi
        size: 600
        options: --fsoptions="umask=0077,shortname=winnt"
      - mountpoint: /boot
        filesystem: xfs
        size: 1024
      - mountpoint: pv.01
        filesystem: lvmpv
        size: 1
        options: --grow
  - name: sda
    partitions:
      - mountpoint: pv.02
        filesystem: lvmpv
        size: 1
        options: --grow
kickstart_storage_volume_groups:
  - name: fedora
    physical_volumes:
      - pv.01
    logical_volumes:
      - name: root
        mountpoint: /
        filesystem: xfs
        size: "{{ 1024 * 50 }}"  # 50 GB
      - name: home
        mountpoint: /home
        filesystem: xfs
        size: "{{ 1024 * 10 }}"  # 10 GB
      - name: swap
        mountpoint: swap
        filesystem: swap
        size: "{{ 1024 * 4 }}"  # 4 GB
  - name: data
    physical_volumes:
      - pv.02
    logical_volumes:
      - name: docker
        mountpoint: /var/lib/docker
        filesystem: xfs
        percent: 100

kickstart_users:
  - fullname: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_fullname) }}"
    username: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_username) }}"
    groups: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_groups) }}"
    uid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_uid) }}"
    gid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_gid) }}"
    password: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_1_password_crypted) }}"
    authorized_keys:
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_1) }}"
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_2) }}"
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_3) }}"
  - fullname: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_fullname) }}"
    username: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_username) }}"
    groups: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_groups) }}"
    uid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_uid) }}"
    gid: "{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_gid) }}"
    sudoers: |
      {{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_username) }} ALL=(ALL) NOPASSWD: ALL
      Defaults:{{ lookup('bitwarden.secrets.lookup', bws_uuid.kickstart_user_2_username) }} !requiretty
    authorized_keys:
      - "{{ lookup('bitwarden.secrets.lookup', bws_uuid.ssh_authorized_key_4) }}"
