---
# vars file for jaredhocutt.homelab.bar_assistant

bar_assistant_env_vars_base:
  TZ: "America/New_York"
  APP_URL: "{{ bar_assistant_api_url }}"
  MEILISEARCH_KEY: $MEILI_MASTER_KEY
  MEILISEARCH_HOST: http://{{ bar_assistant_name }}-meilisearch:7700
  REDIS_HOST: "{{ bar_assistant_name }}-redis"
  CACHE_DRIVER: redis
  SESSION_DRIVER: redis
  ALLOW_REGISTRATION: "true"

bar_assistant_salt_rim_env_vars_base:
  TZ: "America/New_York"
  API_URL: "{{ bar_assistant_api_url }}"
  MEILISEARCH_URL: "{{ bar_assistant_meilisearch_url }}"

bar_assistant_redis_env_vars_base:
  TZ: "America/New_York"

bar_assistant_meilisearch_env_vars_base:
  TZ: "America/New_York"
  MEILI_NO_ANALYTICS: "true"
  MEILI_MASTER_KEY: "{{ bar_assistant_meilisearch_master_key }}"

bar_assistant_quadlet_options_base:
  - |
    [Unit]
    Requires={{ bar_assistant_name }}-redis.service
    Requires={{ bar_assistant_name }}-meilisearch.service
    After={{ bar_assistant_name }}-redis.service
    After={{ bar_assistant_name }}-meilisearch.service
  - |
    [Service]
    Restart=always
  - |
    [Install]
    WantedBy=multi-user.target

bar_assistant_salt_rim_quadlet_options_base:
  - |
    [Unit]
    Requires={{ bar_assistant_name }}.service
    After={{ bar_assistant_name }}.service
  - |
    [Service]
    Restart=always
  - |
    [Install]
    WantedBy=multi-user.target

bar_assistant_redis_quadlet_options_base:
  - |
    [Service]
    Restart=always
  - |
    [Install]
    WantedBy=multi-user.target

bar_assistant_meilisearch_quadlet_options_base:
  - |
    [Service]
    Restart=always
  - |
    [Install]
    WantedBy=multi-user.target
