---
# vars file for jaredhocutt.homelab.bar_assistant

###############################################################################
# Envrionment
###############################################################################

bar_assistant_container_env_defaults:
  APP_URL: "{{ bar_assistant_api_url }}"
  MEILISEARCH_HOST: http://{{ bar_assistant_name }}-meilisearch:7700
  REDIS_HOST: "{{ bar_assistant_name }}-redis"
  CACHE_DRIVER: redis
  SESSION_DRIVER: redis
  ALLOW_REGISTRATION: "true"

bar_assistant_salt_rim_container_env_defaults:
  API_URL: "{{ bar_assistant_api_url }}"
  MEILISEARCH_URL: "{{ bar_assistant_meilisearch_url }}"

bar_assistant_redis_container_env_defaults:
  ALLOW_EMPTY_PASSWORD: "yes"

bar_assistant_meilisearch_container_env_defaults:
  MEILI_ENV: production
  MEILI_NO_ANALYTICS: "true"

bar_assistant_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(bar_assistant_container_env_defaults, recursive=True)
  | combine(bar_assistant_container_env, recursive=True) }}
bar_assistant_salt_rim_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(bar_assistant_salt_rim_container_env_defaults, recursive=True)
  | combine(bar_assistant_salt_rim_container_env, recursive=True) }}
bar_assistant_redis_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(bar_assistant_redis_container_env_defaults, recursive=True)
  | combine(bar_assistant_redis_container_env, recursive=True) }}
bar_assistant_meilisearch_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(bar_assistant_meilisearch_container_env_defaults, recursive=True)
  | combine(bar_assistant_meilisearch_container_env, recursive=True) }}

###############################################################################
# Secrets
###############################################################################

bar_assistant_secrets_defaults:
  bar_assistant_meilisearch_master_key: "{{ bar_assistant_meilisearch_master_key }}"

bar_assistant_secrets_combined: >-
  {{ bar_assistant_secrets_defaults
  | combine(bar_assistant_secrets, recursive=True) }}

bar_assistant_container_secrets_defaults:
  - bar_assistant_meilisearch_master_key,type=env,target=MEILISEARCH_KEY

bar_assistant_salt_rim_container_secrets_defaults: []

bar_assistant_redis_container_secrets_defaults: []

bar_assistant_meilisearch_container_secrets_defaults:
  - bar_assistant_meilisearch_master_key,type=env,target=MEILI_MASTER_KEY

bar_assistant_container_secrets_combined: >-
  {{ bar_assistant_container_secrets_defaults
  + bar_assistant_container_secrets }}
bar_assistant_salt_rim_container_secrets_combined: >-
  {{ bar_assistant_salt_rim_container_secrets_defaults
  + bar_assistant_salt_rim_container_secrets }}
bar_assistant_redis_container_secrets_combined: >-
  {{ bar_assistant_redis_container_secrets_defaults
  + bar_assistant_redis_container_secrets }}
bar_assistant_meilisearch_container_secrets_combined: >-
  {{ bar_assistant_meilisearch_container_secrets_defaults
  + bar_assistant_meilisearch_container_secrets }}

###############################################################################
# Container Labels
###############################################################################

bar_assistant_container_labels_defaults: >
  {{ bar_assistant_traefik_enable
  | ternary(lookup('jaredhocutt.homelab.traefik_labels', bar_assistant_name, bar_assistant_traefik_host, '8080'), {}) }}

bar_assistant_salt_rim_container_labels_defaults: >
  {{ bar_assistant_traefik_enable
  | ternary(lookup('jaredhocutt.homelab.traefik_labels', bar_assistant_name ~ '-salt-rim', bar_assistant_salt_rim_traefik_host, '8080'), {}) }}

bar_assistant_redis_container_labels_defaults: {}

bar_assistant_meilisearch_container_labels_defaults: >-
  {{
    bar_assistant_traefik_enable |
    ternary(lookup('jaredhocutt.homelab.traefik_labels', bar_assistant_name ~ '-meilisearch', bar_assistant_meilisearch_traefik_host, '7700'), {})
  }}

bar_assistant_container_labels_combined: >-
  {{ bar_assistant_container_labels_defaults
  | combine(bar_assistant_container_labels, recursive=True) }}
bar_assistant_salt_rim_container_labels_combined: >-
  {{ bar_assistant_salt_rim_container_labels_defaults
  | combine(bar_assistant_salt_rim_container_labels, recursive=True) }}
bar_assistant_redis_container_labels_combined: >-
  {{ bar_assistant_redis_container_labels_defaults
  | combine(bar_assistant_redis_container_labels, recursive=True) }}
bar_assistant_meilisearch_container_labels_combined: >-
  {{ bar_assistant_meilisearch_container_labels_defaults
  | combine(bar_assistant_meilisearch_container_labels, recursive=True) }}

###############################################################################
# Quadlet Options
###############################################################################

bar_assistant_quadlet_options_depends:
  - |
    [Unit]
    Requires={{ bar_assistant_name }}-redis.service
    Requires={{ bar_assistant_name }}-meilisearch.service
    After={{ bar_assistant_name }}-redis.service
    After={{ bar_assistant_name }}-meilisearch.service
bar_assistant_quadlet_options_defaults: "{{ common_quadlet_options_defaults + bar_assistant_quadlet_options_depends }}"

bar_assistant_salt_rim_quadlet_options_depends:
  - |
    [Unit]
    Requires={{ bar_assistant_name }}.service
    After={{ bar_assistant_name }}.service
bar_assistant_salt_rim_quadlet_options_defaults: "{{ common_quadlet_options_defaults + bar_assistant_salt_rim_quadlet_options_depends }}"

bar_assistant_redis_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

bar_assistant_meilisearch_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

bar_assistant_quadlet_options_combined: >-
  {{ bar_assistant_quadlet_options_defaults
  + bar_assistant_quadlet_options }}
bar_assistant_salt_rim_quadlet_options_combined: >-
  {{ bar_assistant_salt_rim_quadlet_options_defaults
  + bar_assistant_salt_rim_quadlet_options }}
bar_assistant_redis_quadlet_options_combined: >-
  {{ bar_assistant_redis_quadlet_options_defaults
  + bar_assistant_redis_quadlet_options }}
bar_assistant_meilisearch_quadlet_options_combined: >-
  {{ bar_assistant_meilisearch_quadlet_options_defaults
  + bar_assistant_meilisearch_quadlet_options }}
