---
# vars file for jaredhocutt.homelab.immich

immich_postgres_db_name: immich
immich_postgres_user: immich

###############################################################################
# Envrionment Variables
###############################################################################

immich_env_vars_base_custom:
  DB_HOSTNAME: "{{ immich_name }}-postgres"
  DB_DATABASE_NAME: "{{ immich_postgres_db_name }}"
  DB_USERNAME: "{{ immich_postgres_user }}"
  DB_PASSWORD: "{{ immich_postgres_password }}"
  REDIS_HOSTNAME: "{{ immich_name }}-redis"
immich_env_vars_base: "{{ common_env_vars_base | combine(immich_env_vars_base_custom, recursive=True) }}"

immich_machine_learning_env_vars_base: "{{ common_env_vars_base }}"

immich_postgres_env_vars_base_custom:
  POSTGRES_DB: "{{ immich_postgres_db_name }}"
  POSTGRES_USER: "{{ immich_postgres_user }}"
  POSTGRES_PASSWORD: "{{ immich_postgres_password }}"
  POSTGRES_INITDB_ARGS: --data-checksums
immich_postgres_env_vars_base: "{{ common_env_vars_base | combine(immich_postgres_env_vars_base_custom, recursive=True) }}"

immich_redis_env_vars_base: "{{ common_env_vars_base }}"

###############################################################################
# Container Labels
###############################################################################

# This is done as a list and converted to a dict in order to use variables in the key name
immich_container_labels_traefik:
  - key: traefik.enable
    value: "true"
  - key: traefik.http.routers.{{ immich_name }}.rule
    value: Host(`{{ immich_traefik_host }}`)
  - key: traefik.http.routers.{{ immich_name }}.entrypoints
    value: "{{ common_traefik_entrypoint }}"
immich_container_labels_base: "{{ immich_traefik_enable | ternary((immich_container_labels_traefik | items2dict), {}) }}"

immich_machine_learning_container_labels_base: {}

immich_postgres_container_labels_base: {}

immich_redis_container_labels_base: {}

###############################################################################
# Quadlet Options
###############################################################################

immich_quadlet_options_base_custom:
  - |
    [Unit]
    Requires={{ immich_name }}-postgres.service
    Requires={{ immich_name }}-redis.service
    After={{ immich_name }}-postgres.service
    After={{ immich_name }}-redis.service
immich_quadlet_options_base: "{{ common_quadlet_options_base + immich_quadlet_options_base_custom }}"

immich_machine_learning_quadlet_options_base: "{{ common_quadlet_options_base }}"

immich_postgres_quadlet_options_base: "{{ common_quadlet_options_base }}"

immich_redis_quadlet_options_base: "{{ common_quadlet_options_base }}"
