---
# vars file for jaredhocutt.homelab.immich

immich_postgres_db_name: immich
immich_postgres_user: immich

###############################################################################
# Envrionment
###############################################################################

immich_container_env_defaults:
  DB_HOSTNAME: "{{ immich_name }}-postgres"
  REDIS_HOSTNAME: "{{ immich_name }}-redis"

immich_machine_learning_container_env_defaults: {}

immich_postgres_container_env_defaults:
  POSTGRES_INITDB_ARGS: --data-checksums

immich_redis_container_env_defaults: {}

immich_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(immich_container_env_defaults, recursive=True)
  | combine(immich_container_env, recursive=True) }}
immich_machine_learning_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(immich_machine_learning_container_env_defaults, recursive=True)
  | combine(immich_machine_learning_container_env, recursive=True) }}
immich_postgres_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(immich_postgres_container_env_defaults, recursive=True)
  | combine(immich_postgres_container_env, recursive=True) }}
immich_redis_container_env_combined: >-
  {{ common_container_env_defaults
  | combine(immich_redis_container_env_defaults, recursive=True)
  | combine(immich_redis_container_env, recursive=True) }}

###############################################################################
# Secrets
###############################################################################

immich_secrets_defaults:
  immich_postgres_db_name: "{{ immich_postgres_db_name }}"
  immich_postgres_user: "{{ immich_postgres_user }}"
  immich_postgres_password: "{{ immich_postgres_password }}"

immich_secrets_combined: >-
  {{ immich_secrets_defaults
  | combine(immich_secrets, recursive=True) }}

immich_container_secrets_defaults:
  - immich_postgres_db_name,type=env,target=DB_DATABASE_NAME
  - immich_postgres_user,type=env,target=DB_USERNAME
  - immich_postgres_password,type=env,target=DB_PASSWORD

immich_machine_learning_container_secrets_defaults:
  - immich_postgres_db_name,type=env,target=DB_DATABASE_NAME
  - immich_postgres_user,type=env,target=DB_USERNAME
  - immich_postgres_password,type=env,target=DB_PASSWORD

immich_postgres_container_secrets_defaults:
  - immich_postgres_db_name,type=env,target=POSTGRES_DB
  - immich_postgres_user,type=env,target=POSTGRES_USER
  - immich_postgres_password,type=env,target=POSTGRES_PASSWORD

immich_redis_container_secrets_defaults: []

immich_container_secrets_combined: >-
  {{ immich_container_secrets_defaults
  + immich_container_secrets }}
immich_machine_learning_container_secrets_combined: >-
  {{ immich_machine_learning_container_secrets_defaults
  + immich_machine_learning_container_secrets }}
immich_postgres_container_secrets_combined: >-
  {{ immich_postgres_container_secrets_defaults
  + immich_postgres_container_secrets }}
immich_redis_container_secrets_combined: >-
  {{ immich_redis_container_secrets_defaults
  + immich_redis_container_secrets }}

###############################################################################
# Container Labels
###############################################################################

immich_container_labels_defaults: >
  {{ immich_traefik_enable
  | ternary(lookup('jaredhocutt.homelab.traefik_labels', immich_name, immich_traefik_host, '2283'), {}) }}

immich_machine_learning_container_labels_defaults: {}

immich_postgres_container_labels_defaults: {}

immich_redis_container_labels_defaults: {}

immich_container_labels_combined: >-
  {{ immich_container_labels_defaults
  | combine(immich_container_labels, recursive=True) }}
immich_machine_learning_container_labels_combined: >-
  {{ immich_machine_learning_container_labels_defaults
  | combine(immich_machine_learning_container_labels, recursive=True) }}
immich_postgres_container_labels_combined: >-
  {{ immich_postgres_container_labels_defaults
  | combine(immich_postgres_container_labels, recursive=True) }}
immich_redis_container_labels_combined: >-
  {{ immich_redis_container_labels_defaults
  | combine(immich_redis_container_labels, recursive=True) }}

###############################################################################
# Quadlet Options
###############################################################################

immich_quadlet_options_depends:
  - |
    [Unit]
    Requires={{ immich_name }}-postgres.service
    Requires={{ immich_name }}-redis.service
    After={{ immich_name }}-postgres.service
    After={{ immich_name }}-redis.service
immich_quadlet_options_defaults: "{{ common_quadlet_options_defaults + immich_quadlet_options_depends }}"

immich_machine_learning_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

immich_postgres_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

immich_redis_quadlet_options_defaults: "{{ common_quadlet_options_defaults }}"

immich_quadlet_options_combined: >-
  {{ immich_quadlet_options_defaults
  + immich_quadlet_options }}
immich_machine_learning_quadlet_options_combined: >-
  {{ immich_machine_learning_quadlet_options_defaults
  + immich_machine_learning_quadlet_options }}
immich_postgres_quadlet_options_combined: >-
  {{ immich_postgres_quadlet_options_defaults
  + immich_postgres_quadlet_options }}
immich_redis_quadlet_options_combined: >-
  {{ immich_redis_quadlet_options_defaults
  + immich_redis_quadlet_options }}
