---

- name: Perform initial server setup
  hosts: apps
  tasks:
    - name: Perform initial server setup
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.server_setup
      tags: [server_setup]

- name: Deploy and configure foundation apps
  hosts: apps
  tasks:
    - name: Install traefik
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.traefik
      tags: [traefik]

    - name: Install authentik
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.authentik
      tags: [authentik]
  tags: [foundation_apps]

- name: Deploy and configure apps
  hosts: apps
  tasks:
    - name: Install backrest
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.backrest
      tags: [backrest]

    - name: Install bar_assistant
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.bar_assistant
      tags: [bar_assistant]

    - name: Install bentopdf
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.bentopdf
      tags: [bentopdf]

    - name: Install calibre_web_automated
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.calibre_web_automated
      tags: [calibre_web_automated]

    - name: Install changedetection
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.changedetection
      tags: [changedetection]

    - name: Install healthchecks
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.healthchecks
      tags: [healthchecks]

    - name: Install homarr
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.homarr
      tags: [homarr]

    - name: Install karakeep
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.karakeep
      tags: [karakeep]

    - name: Install n8n
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.n8n
      tags: [n8n]

    - name: Install nocodb
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.nocodb
      tags: [nocodb]

    - name: Install open_webui
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.open_webui
      tags: [open_webui]

    - name: Install stirling_pdf
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.stirling_pdf
      tags: [stirling_pdf]

    - name: Install tandoor
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.tandoor
      tags: [tandoor]

    - name: Install warracker
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.warracker
      tags: [warracker]
