---

- name: Perform initial server setup
  hosts: media
  tasks:
    - name: Perform initial server setup
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.server_setup
      tags: [server_setup]

- name: Deploy and configure foundation apps
  hosts: media
  tasks:
    - name: Install traefik
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.traefik
      tags: [traefik]

- name: Deploy and configure apps
  hosts: media
  tasks:
    - name: Install audiobookshelf
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.audiobookshelf
      tags: [audiobookshelf]

    - name: Install kometa
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.kometa
      tags: [kometa]

    - name: Install overseerr
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.overseerr
      tags: [overseerr]

    - name: Install prowlarr
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.prowlarr
      tags: [prowlarr]

    - name: Install radarr
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.radarr
      tags: [radarr]

    - name: Install sabnzbd
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.sabnzbd
      tags: [sabnzbd]

    - name: Install sonarr
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.sonarr
      tags: [sonarr]

    - name: Install tautulli
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.tautulli
      tags: [tautulli]

    - name: Install wizarr
      ansible.builtin.import_role:
        name: jaredhocutt.homelab.wizarr
      tags: [wizarr]
